# Dependencies
node_modules/
venv/
.env*
*.pyc

# Build artifacts
dist/
build/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# OS
.Trashes

# Python
__pycache__/
.pytest_cache/
.coverage
htmlcov/
.coverage.*
.cache
docs/_build/

# Other
.venv_bin/
.vercel
